<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879633480212-e5hbqkbtn5h76j44jkd9tojvadvn8g94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879633480212-e5hbqkbtn5h76j44jkd9tojvadvn8g94</string>
	<key>API_KEY</key>
	<string>AIzaSyB9FWqyIE3HPl00bxV9VeUg89QT_1Hk0bw</string>
	<key>GCM_SENDER_ID</key>
	<string>879633480212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashsol.jobApplication</string>
	<key>PROJECT_ID</key>
	<string>jobportal-e73b7</string>
	<key>STORAGE_BUCKET</key>
	<string>jobportal-e73b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879633480212:ios:eef502be4a8ebc4fb90501</string>
	<key>DATABASE_URL</key>
	<string>https://jobportal-e73b7.firebaseio.com</string>
</dict>
</plist>